<nav>
    <a href="https://github.com/ShishantG87" >GitHub </a> &nbsp; 
    <a href="https://shishantg87.github.io/" > GitHub.io </a> &nbsp; 
    <a href="https://shishantg87.github.io/web115/" > WEB115.io </a> &nbsp; 
    <a href="https://www.freecodecamp.org/sbohora12" > FreeCodeCamp </a> &nbsp; 
    <a href="https://www.codecademy.com/profiles/ShishantBohora" > Codeacademy </a> &nbsp; 
    <a href="error.html"> JSFiddle </a> &nbsp; 
    <a href="https://www.linkedin.com/in/shishant-bohora-708760294/">LinkedIn</a>
  </nav>
  <p>Website designed by Shishant Bohora &copy; 2025</p>