<header>
    <h1> Shishant Bohora's <span class = 'glow'>Sneaky</span> Bear  - Introduction</h1>
    

    <nav aria-label="primary-navigation">
      <p>
        <a href="https://shishantg87.github.io/web115" target="_blank">Home-WEB115</a> |
        <a href="https://shishantg87.github.io/web250/" target="_blank">Home-WEB250</a> |
        <a href="intro.html" target="_blank">Introduction</a> |
        <a href="web115_contract.html" target="_blank">Contract-WEB115</a>
        <a href="https://shishantg87.github.io/web250/contract.html" target="_blank">Contract-WEB250</a>
      </p>
    </nav>
    <hr >
    <h2>Introduction </h2>
  </header>