
    <h1> Shishant Bohora's <span class = 'glow'>Sneaky</span> Bear  </h1>
    
    <h2 class = 'quote'>
      
      "Smarter Tech For A<span class="head-quote">&nbsp; Smarter&nbsp;</span> World."
    </h2>
    <nav  class="top-links">
      
        <a href="index.html" >Home</a> 
        <a href="intro.html">Introduction</a> 
        <a href="web115_contract.html" >Contract</a> 
        <a href="brand.html">Brand</a> 
        <a href="survey.html">Survey</a> 
        <div class = 'fizzbuzz'>
          <button id="'fizzbuzz-button">FizzBuzz &#8595;</button>
          <div class = 'fizz-options'>
            <a href="fizzbuzz0.html">FizzBuzz0</a>
            <a href="fizzbuzz1.html">FizzBuzz1</a>
            <a href="fizzbuzz2.html">FizzBuzz2</a>
            <a href="fizzbuzz3.html">FizzBuzz3</a>
          </div>
        </div>
    </nav>
    <hr>
    
    
  
  