<header>
    <h1> Shishant Bohora's <span class = 'glow'>Sneaky</span> Bear  </h1>
    
    <h2 class = 'quote'>
      <em>
      "Smarter Tech For A <span class="glow"><strong>&nbsp; Smarter&nbsp;</strong></span> World."</em>
    </h2>
    <nav >
      <p>
        <a href="https://shishantg87.github.io/web115" >Home</a> |
        <a href="intro.html">Introduction</a> |
        <a href="web115_contract.html" >Contract</a> |
        <a href="brand.html">Brand</a> |
        <a href="survey.html">Survey</a>
        
      </p>
    </nav>
    
    <hr>
    
    
  </header>
  