form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    max-width: 1500px;
    margin: 1em auto;
}


fieldset{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border:none;
    
}


#greeting {
    font-size:23px;
    
}

input{
    margin: auto;
    width:250px;
    height: 30px;
    border-radius: 6px;
    border: none;
}
label{
    display: block;
    padding: 1em;
    
}

#print-nums{
    display: flex;
    max-width: 500px;
    flex-direction: column;
    border: 5px dotted brown;
    border-radius: 12px;
    margin: 1em auto;
}